<style type="text/css">

    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        /*-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);*/
        /*box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);*/
        padding-top:24px;
    }

    .stat-col {
        /*padding-bottom: 5%;*/
        padding-top: 0;
        margin-top:16px;
        margin-bottom:16px;
        background: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        transition: background 0.3s ease;
        transition-property: background;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        min-height: 110px;
        border-radius: 8px;
        width:24%;
        box-sizing: border-box;
        padding:0;
    }
    .stat-col-cover {
    display: flex;
    justify-content: space-between;
    padding: 0;
        
    }
    .inner-col-cover{
        border-radius: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        transition: background 0.3s ease;
        transition-property: background;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
    .inner-col-cover .progress{
        display: none;
    }
    .orangBg,.yellowbg,.bluebg{
        padding:0;
    }
    .orangBg,.bluebg{
        width:50%;
        
    }
    .orangBg .stat-col{
        background:#FF9F5C!important;
        color:#fff;
        
    }
    
    .orangBg .stat-col,.bluebg .stat-col,.yellowbg .stat-col{
        border-radius: 0;
        color: #fff!important;
    }
    .orangBg .stat-col:first-child,.bluebg .stat-col:first-child,.yellowbg .stat-col:first-child{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .orangBg .stat-col:last-child,.bluebg .stat-col:last-child,.yellowbg .stat-col:last-child{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .bluebg .stat-col{
       background:#5158CC!important;
        color:#fff; 
    }
    .yellowbg .stat-col{
       background:#FFB639!important;
        color:#fff; 
    }
    .bluebg{
        width:49%;
    }
    .purplebg{
       background:#9E9DEB;
        color:#fff; 
    }
    .lightbluebg{
        background:#91A9F7;
        color:#fff;
    }
    .inner-col-cover .stat-col{
        width:50%;

        box-shadow: none;
    }
    .last-stat{
        margin-right: 0;
    }
    .stat-col-no-top{
        margin-top:0;
    }

    .stat-col:hover {
        background: blur(.5);
    }

    .sm-st-icon {
        text-align: center;
        color: #fff;
        width: 54px;
        height: 54px;
        display: block;
        margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
        width: 98px;
        height: 14px;
        font-size: 14px;
        font-weight: 400;
        color: #9798A1;
        line-height: 14px;
    }

    .sm-st-info span,.sm-st-info .number-animate {
        display: block;
        height: 46px;
        font-size: 46px;
        font-weight: 600;
        color: #141621;
        line-height: 46px;
    }
    #totalviews,#totalorder,#totalorderamount{
        margin-bottom: 8px;
    }

    .stat .number-animate {
        line-height: 50px;
        height: 50px;
        font-size: 20px;
        overflow: hidden;
        display: inline-block;
        position: relative;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px;
        padding:24px;
    }

    .stat .value {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30px;
        font-size: 30px;
        font-weight: 500;
        color: #141621;
        line-height: 30px;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 12px;
        font-size: 12px;
        font-weight: 400;
        color: #9798A1;
        line-height: 12px;
        margin-bottom: 16px;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat.lg .name {
        font-size: 16px;
    }
    .inner-col-cover .stat .name, .inner-col-cover .stat .value,.purplebg .stat .name, .purplebg .stat .value,.lightbluebg .stat .name,.lightbluebg .stat .value{
        color: #fff;
    }

    /*.stat-col .progress {*/
    /*    height: 2px;*/
    /*}*/

    /*.stat-col .progress-bar {*/
    /*    line-height: 2px;*/
    /*    height: 2px;*/
    /*}*/

    .item {
        padding: 30px 0;
    }

    .layui-col-md3 {
        width: 23%;
    }
    @media screen and (max-width: 768px) {
        .layui-col-md3 {
            width: 92%;
            margin-left: 4%;
        }
    }
@media screen and (max-width:1300px){
    .last-stat{
        margin-right: 16px;
    }
    .stat-col{
        max-width: 23.7%;
    }
}

    .layui-colla-title {
        background-color: #fff;
    }

    .t-img {
        width: 30px;
        height: 26px;
        margin-right: 16px;
    }
    .d-img{
        width: 45px;
        height: 45px;
        padding-right: 3px;
        padding-left: 4px;
    }
    .s-img{
        width: 54px;
        height: 54px;
        display: block;
        margin-bottom: 20px;
        background:#7A90F5;
    }
    .bg-white{
        background: #fff;
        min-height: 190px;
    }
    .notice-container{
        border-radius: 8px;
    }
    .notice-container .layui-card-body{
        height:385px!important;
    }
    .notice-container .layui-card-header{
        height: 56px;
        line-height: 56px;
    }
    
.progress{
    width: 80px;
    height: 80px!important;
    line-height: 80px!important;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: absolute;
    right:26px;
    top:12px;
    display: none;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #f2f5f5;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #434656;
    text-align: center;
    position: absolute;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
.progress.blue .progress-bar{
    border-color: #96CCFE;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #FBD976;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #AC75F0;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #78CC7F;
}
.progress.green .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.perpule .progress-bar{
    border-color: #96A9FE;
}
.progress.perpule .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.oranges .progress-bar{
    border-color: #F7C895;
}
.progress.oranges .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.red .progress-bar{
    border-color: #F0B2B2;
}
.progress.red .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.dark .progress-bar{
    border-color: #7C8084;
}
.progress.dark .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.rorange .progress-bar{
    border-color: #F4B898;
}
.progress.rorange .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

.number-animate .number-animate-dom{
    width:26px;
}
#toDayOrder .number-animate .number-animate-dom,#toDaySuccessOrder .number-animate .number-animate-dom,#toDayFailureOrder .number-animate .number-animate-dom,#toDayKouliang .number-animate .number-animate-dom{
    width:12px;
}
.layui-card{
    border-radius: 8px;
}
.right-dash{
    width:17.5%;
    padding-left:0;
}
.left-dash{
    width:82.5%;
}
.fast-icon{
    display: inline-block;
}
.fast-title{
    color:#141621;
    font-size: 16px;
    font-weight: 500;
    height: 56px;
    line-height: 56px;
}
.mjum p{
    display: inline-block;
}
.mjum{
    width: 23%;
    height: 78px;
    background: #F7F9FA;
    border-radius: 8px;
    margin-top:20px;
    margin-left:20px;
    padding:26px 0;
    }
    .bg-white:first-child{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .bg-white:nth-child(3){
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
</style>
<div class="panel panel-default panel-intro">
    <!--<div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
            <li><a href="#two" data-toggle="tab">{:__('Custom')}</a></li>
        </ul>
    </div>-->
    <div class="" style="background-color: #f1f4f6">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">

                <div class="row">
                    <div class="col-md-10 left-dash">
                        <div class="col-xs-6 col-sm-4 bg-white">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon">
                                <img class="s-img" src="/assets/img/fangwen@2x.png">
                            </span>
                            <div class="sm-st-info">
                                <!-- <span>{$totalviews}</span>-->
                                <span id="totalviews">0</span>
                                {:__('Total view')}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 bg-white">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon">
                                <img class="s-img" src="/assets/img/ddingdan@2x.png">
                            </span>                            <div class="sm-st-info">
                                <!--<span>{$totalorder}</span>-->
                                <span id="totalorder">0</span>
                                {:__('Total order')}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 bg-white">
                        <div class="sm-st clearfix">
                          <span class="sm-st-icon">
                                        <img class="s-img" src="/assets/img/jine@2x.png">
                                    </span>                              <div class="sm-st-info">
                                        <!--<span>{$totalorderamount}</span>-->
                                        <span id="totalorderamount">0</span>
                                        {:__('Total order amount')}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-12 stat-col-cover">
                              <div class="col-xs-6 col-sm-6 inner-col-cover orangBg">
                                  <div class="col-xs-6 col-sm-6 stat-col">
                                <div class="stat">
                                                    <div class="name"> {:__('toDayMoney')}</div>
                                                    <div class="value" id="toDayMoney"> 0 </div>
                                                </div>
                                                <div class="progress rorange">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 stat-col">
                                <div class="stat">
                                                    <div class="name"> {:__('yesterdayMoney')}</div>
                                                    <div class="value" id="yesterdayMoney"> 0 </div>
                                                </div>
                                                <!--<div class="progress">-->
                                                <!--    <div class="progress-bar orange" style="width: 35%"></div>-->
                                                <!--</div>-->
                                                 <div class="progress oranges">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                            </div>
                              </div>
                            <div class="col-xs-6 col-sm-6 inner-col-cover bluebg">
                                 <div class="col-xs-6 col-sm-6 stat-col">
                                 <div class="stat">
                                                    <div class="name"> {:__('TodayUserAccess')}</div>
                                                    <div class="value" id="todayUserAccessCount"> 0</div>
                                                </div>
                                                <div class="progress perpule">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 stat-col last-stat">
                                    <div class="stat">
                                                    <div class="name"> {:__('yesterdayAccessCount')}</div>
                                                    <div class="value" id="yesterdayAccessCount"> 0 </div>
                                                </div>
                                                <!--<div class="progress">-->
                                                <!--    <div class="progress-bar st-red" style="width: 60%"></div>-->
                                                <!--</div>-->
                                                 <div class="progress blue">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                            </div>
                            </div>
                           
                            </div>
                            
                            <div class="col-xs-6 col-sm-12 stat-col-cover">
                                <div class="col-xs-6 col-sm-6 inner-col-cover yellowbg">
                            <div class="col-xs-6 col-sm-6 stat-col stat-col-no-top" style="display:  {if $is_admin == 1} block {else}none{/if}">
                                            <!--<div class="stat-icon"><img class="d-img" src="/assets/img/ico/o1.png"></div>-->
                                            <div class="stat">
                                                <div class="name"> {:__('Today order')}</div>
                                                <div class="value" id="toDayOrder"> 0</div>
                                            </div>
                                            <div class="progress green">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                            </div>
                             <div class="col-xs-6 col-sm-6 stat-col stat-col-no-top">
                              <div class="stat">
                                                <div class="name"> {:__('toDaySuccessOrder')}</div>
                                                <div class="value" id="toDaySuccessOrder"> 0 </div>
                                            </div>
                                           
                                            <div class="progress yellow">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                            </div>
                                    
                                </div>
                             <div class="col-xs-6 col-sm-3 stat-col stat-col-no-top purplebg" style="display:  {if $is_admin == 1} block {else}none{/if}">
                                            <!--<div class="stat-icon"><img class="d-img" src="/assets/img/ico/o3.png"></div>-->
                                            <div class="stat">
                                                <div class="name"> {:__('toDayFailureOrder')}</div>
                                                <div class="value" id="toDayFailureOrder"> 0 </div>
                                            </div>
                                            <!--<div class="progress">-->
                                            <!--    <div class="progress-bar green" style="width: 95%"></div>-->
                                            <!--</div>-->
                                            <div class="progress red">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                             
                            </div>
                             <div class="col-xs-6 col-sm-3 stat-col last-stat stat-col-no-top lightbluebg" style="display:  {if $is_admin == 1} block {else}none{/if}">
                                            <!--<div class="stat-icon"><img class="d-img" src="/assets/img/ico/liang.png"></div>-->
                                            <div class="stat">
                                                <div class="name"> {:__('Day kouliang')}</div>
                                                <div class="value" id="toDayKouliang"> 0 </div>
                                            </div>
                                            <!--<div class="progress">-->
                                            <!--    <div class="progress-bar tar" style="width: 67%"></div>-->
                                            <!--</div>-->
                                            <div class="progress dark">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">90%</div>
                                                </div>
                             
                            </div>
                            </div>

                        
                    </div>
                    <div class="col-md-2 right-dash">                    
                    <div class="notice-container">
                        <div class="layui-card">
                            <div class="layui-card-header" style="color:#141621;font-weight:500;font-size:16px;">
                                <!--<span class="fa fa-bullhorn"></span>-->
                                最新公告
                            </div>


                            <div class="layui-card-body" id="noticeList"
                                 style="height: 232px; padding:0;overflow: auto">

                                <div class="layui-collapse" lay-filter="test" style="border:none">
                                    {foreach name="notify" item="vo"}
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">{$vo.title|mb_substr=0,24,'utf-8'|htmlentities}</h2>
                                        <div class="layui-colla-content">
                                            <pre style="border: none;
                                              background: #fff;
                                              font-size: 14px;
                                              text-indent: 20px;">{$vo.content|htmlentities}
                                              </pre>
                                        </div>
                                    </div>
                                    {/foreach}

                                </div>
                            </div>


                        </div>

                    </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="layui-card">
                            <div class="layui-card-header fast-title">快捷操作</div>
                            <div class="layui-card-body" style="">
                                <div class="layui-row" style="padding-bottom:10px;">

                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/link">
                                        <span class="fast-icon">
                                            <img class="t-img" src="/assets/img/tuiguang@2x.png">
                                        </span>
                                        <p>推广赚钱</p>
                                    </div>
                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/payset">
                                        <span class="">
                                            <img class="t-img" src="/assets/img/zhifupeizhi@2x.png">
                                        </span>
                                        <p>支付配置</p>
                                    </div>


                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/domain">
                                        <span class="fast-icon">
                                            <img class="t-img" src="/assets/img/yuming@2x.png">
                                        </span>
                                        <p>域名管理</p>
                                    </div>
                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/cash">
<span class="fast-icon">
                                            <img class="t-img" src="/assets/img/tixian@2x.png">
                                        </span>                                        <p>提现管理</p>
                                    </div>
                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/auth/admin">
<span class="fast-icon">
                                            <img class="t-img" src="/assets/img/daili@2x.png">
                                        </span>                                        <p>代理管理</p>
                                    </div>

                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/order">
<span class="fast-icon">
                                            <img class="t-img" src="/assets/img/dingdand@2x.png">
                                        </span>                                        <p>订单列表</p>
                                    </div>
                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/stock">
<span class="fast-icon">
                                            <img class="t-img" src="/assets/img/gonggong@2x.png">
                                        </span>                                        <p>公共资源库</p>
                                    </div>

                                    <div class="layui-col-xs3 nepadmin-grid mjum" lay-url="/admin/general/profile">
<span class="fast-icon">
                                            <img class="t-img" src="/assets/img/dshezhi@2x.png">
                                        </span>                                        <p>个人设置</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div style="height:20px;"></div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header fast-title">
                            <!--<span class="fa fa-bullhorn"></span>-->
                            订单统计(实时)
                        </div>
                        <div style="padding:24px">
                            <div id="echart" class="btn-refresh" style="height:312px;"></div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header fast-title">
                            <!--<span class="fa fa-bullhorn"></span>-->
                            每时访问统计(实时)
                        </div>
                        <div style="padding:24px">
                            <div id="echart2" class="btn-refresh" style="height:312px"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="tab-pane fade" id="two">
            <div class="row">
                <div class="col-xs-12">
                    {:__('Custom zone')}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var Orderdata = {
        column: {:json_encode(array_keys($paylist))},
        paydata: {:json_encode(array_values($paylist))},
        createdata: {:json_encode(array_values($createlist))},
        hour:{:json_encode(array_values($hour))},
        hour_key:{:json_encode(array_values($hour_key))},
    };

    var total = {
        totalorder: {$totalorder}, //总订单数
        totalorderamount: {$totalorderamount}, //总金额
        totalviews: {$totalviews}, //总访问数
        todayUserAccessCount:{$todayUserAccessCount},
        toDayOrder:{$toDayOrder},
        toDaySuccessOrder:{$toDaySuccessOrder},
        toDayFailureOrder:{$toDayFailureOrder},
        toDayKouliang :{$toDayKouliang},
        yesterdayAccessCount:{$yesterdayAccessCount},
        yesterdayMoney:{$yesterdayMoney},
        toDayMoney:{$toDayMoney}

    }
    console.log(total);
</script>