
<style>
    .content{
        margin:10px
    }
    .fa fa-wechat{
        background-color: red;
    }
    .content{
        margin:10px
    }
    .link-img{
        width:45px;
        height:45px;
        color:#5a8bff;
        border-radius: 10px;
        margin-top: 5%;
    }
    .link-text{
        color: #2d2424;
        position: relative;
        top: 13%;
        font-size: 15px;
    }
</style>

<div class="layui-row layui-col-space10" style="margin-bottom: 10px">
    <div class="layui-col-sm4 layui-col-xs12">
        <div class=" layui-card muban " onclick="add();">
            <a href="javascript:;" class="layui-card-body btn-Method btn-add {:$auth->check('hezi/add')?'':'hide'}" title="{:__('Add')}" style="display:block;text-align: center; -moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
        box-shadow: 1px 1px 5px #888888; overflow: hidden; height: 100px;">
                <img src="/assets/img/ico/hztj.png" class="link-img">
                <span class="link-text">添加盒子试看</span>
            </a>
        </div>
    </div>



    <div class="layui-col-sm4 layui-col-xs12">
        <div class="layui-card tgqrcode" onclick="inforList()">
            <a class="layui-card-body btn-Method getCheckData1" data-all="all" data-type="tgqrcode" style="display:block;text-align: center;ursor:pointer; -moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
        box-shadow: 1px 1px 5px #888888; overflow: hidden; height: 100px;">
                <img src="/assets/img/ico/hqsj.png" class="link-img">
                <span class="link-text">获取全部盒子链接</span>
            </a>
        </div>
    </div>


    <div class="layui-col-sm4 layui-col-xs12">
        <div class="layui-card muban" onclick="Refresh();">
            <a class="layui-card-body btn-Method del-all" data-type="muban" style="display:block;text-align: center; -moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
        box-shadow: 1px 1px 5px #888888; overflow: hidden; height: 100px;">
                <img src="/assets/img/ico/sx.png" class="link-img">
                <span class="link-text">刷新页面</span>
            </a>
        </div>
    </div>


</div>
<div class="panel panel-default panel-intro">

    <!--<div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="status">
            <li class="active"><a href="#t-all" data-value="" data-toggle="tab">{:__('All')}</a></li>
            {foreach name="statusList" item="vo"}
            <li><a href="#t-{$key}" data-value="{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>
    </div>-->


    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;"  id="Refresh" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" style="display: none" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" id="add" class="btn btn-success btn-add {:$auth->check('hezi/add')?'':'hide'}" title="{:__('Add')}" style="display: none" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                    </div>
                    <table id="table" class="table  table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('hezi/edit')}"
                           data-operate-del="{:$auth->check('hezi/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var push_url = "{$url}";
    console.log(push_url);
    function add() {
        document.getElementById("add").click();
    }
    function Refresh() {
        document.getElementById("Refresh").click();
    }
    function inforList() {
        layer.open({
            type: 2,
            area: ['700px', '450px'],
            fixed: false, //不固定
            maxmin: true,
            title:'全部盒子连接',
            content: 'Hezi/inforList.html?url='+push_url,
        });
    }
</script>
