<form id="add-form" class="form-horizontal   " role="form" data-toggle="validator" method="POST" action="">


    <input id="c-uid" class="form-control" name="row[uid]" type="hidden" value="{$admin.id}">



    <input id="c-pid"  class="form-control" name="row[pid]" value="{$admin.pid_top}" type="hidden">

    <input   class="form-control" name="row[fee]" value="{$poundage}" type="hidden">

    <input   class="form-control" name="row[account]" id="account" value="" type="hidden">



    {:token()}

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-account"   data-rule="required" class="aaa form-control" name="row[blance]" type="number" value="">
            <span class="text-warning" style="font-size: 15px;font-weight: 500">最低提现金额为<span class="text-danger">{$user.min_fee}元 </span>可提现金额为 <span class="text-danger">{$balance}元</span> 提现费率 [:<span class="text-danger">{$poundage}%</span>] 手续费为:<span class="text-danger" id="shouxufei">0元</span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[image]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" data-rule="required" class="form-control" name="row[remark]" type="text" value="">
        </div>
    </div>
   <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Code_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code_id" data-rule="required" data-source="code/index" class="form-control selectpage" name="row[code_id]" type="text" value="">
        </div>
    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-type" data-rule="required" class="form-control " name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

<script>

var min_fee = "{$user.min_fee}";
var balances = "{$balance}";
console.log("可提现金额为:"+balances);
console.log("最低为:"+min_fee);
var poundages = "{$poundage}";
</script>
