body{
	padding-top:7px;
	padding-bottom:20px;
}
#container{
	width:100%;
	height:auto;
}
.h_playlist_box{
	margin: 0;
	width: 100%;
}
.h_playlist_box dl{
	padding: 6px 6px;
	width: 44%;
	float:left;
	height:11rem;
	margin-right: 1%;
}
.h_playlist_box dl dd{
	width: 100%;
	margin: 0;
	padding:0 1%;
	float: left;
}
.h_playlist_box dl dt{
	margin:0;
	position: relative;
}
.h_playlist_box dl dd span{
	font-size:13px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-top:5px;
}
.rich_media_content{
	width: 100%;
	height: 250px;
	border: solid 1px #323136;
	padding-left:1px;
}
.videoPlay{
	height: 42px;
	width: 100%; 
	background-color: #000;
	float: left;
	display: block;
	opacity: 0.8; 
	line-height: 42px;
	font-size: 22px;
	text-align: center;
	color: #FFF;
	margin-bottom: 8px; 
	display:none
}
.laypage_main a,.laypage_main input,.laypage_main span{
	height:26px;
	line-height:26px
	}
.laypage_main button,.laypage_main input,.laypageskin_default a{
	border:1px solid #ccc;
	background-color:#fff
}
.laypage_main{
	font-size:0;clear:both;color:#666
}
.laypage_main *{
	display:inline-block;
	vertical-align:top;
	font-size:12px
}
.laypage_main a{
	text-decoration:none;
	color:#666
}
.laypage_main a,.laypage_main span{
	margin:0 3px 6px;
	padding:0 10px
}
.laypage_main input{
	width:40px;
	margin:0 5px;
	padding:0 5px
}
.laypage_main button{
	height:28px;
	line-height:28px;
	margin-left:5px;
	padding:0 10px;
	color:#666
}
.laypageskin_default span{
	height:28px;
	line-height:28px;
	color:#999
}
.laypageskin_default .laypage_curr{
	font-weight:700;
	color:#666
}
.laypageskin_molv a,.laypageskin_molv span{
	padding:0 12px;
	border-radius:2px
}
.laypageskin_molv a{
	background-color:#f1eff0
}
.laypageskin_molv .laypage_curr{
	background-color:#00AA91;
	color:#fff
}
.laypageskin_molv input{
	height:24px;
	line-height:24px
}
.laypageskin_molv button{
	height:26px;
	line-height:26px
}
.laypageskin_yahei{
	color:#333
}
.laypageskin_yahei a,.laypageskin_yahei span{
	padding:0 13px;
	border-radius:2px;
	color:#333
}
.laypageskin_yahei .laypage_curr{
	background-color:#333;
	color:#fff
}
.laypageskin_flow{
	text-align:center
}
.laypageskin_flow .page_nomore{
	color:#999
}
.btn1{
	margin:12px 0 0 0;
	width:100%; 
	height:42px;
	text-align:center; 
	font-size:16px;
	font-style:normal; 
	border-radius:5px; 
	float:left; 
	display:inline;
	overflow:hidden;
}
.btn1 a{
	width:100%;
	line-height:42px;
	color:#fff; 
	background: #009933; 
	display:block; 
}
.btn1 a:hover{
	color:#fff; 
	display:block;
}
#navsecond{
	position: absolute;
	bottom:0;
	display: none;
}
.video-content{
	font-size:0;
	margin-top:20px;
}
.video-item {
	display:inline-block;
	width:50%;
	vertical-align:top;
	border:1px solid #f8f8f8;
	box-sizing:border-box;
}
.video-item .img{
	width:100%;
	height:100px;
}
.video-item .img img{
	height:100%;
	width:100%;
}
.video-item .title{
	height:50px;
	line-height:50px;
	white-space:nowrap;
		text-overflow: ellipsis;
	overflow:hidden;
}